body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.button{
  width:1000px;
  height: 100px;
}

.form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.form2{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
}

.input-item{
  width: 500px;
}

.cover-items{
  padding: 20px 20px;
}

.products-img{
  padding: 100px 100px;
  width: 50rem;
}

.header2{
  text-align: center;
}

.submit-button{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.post-form{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); 
}

.input-form{
  width: 520px;
}

.textarea1-form{
  width:800px;
  height: 100px;
}

.textarea2-form{
  width: 800px;
  height: 800px;
}

.card-image{
  height: 200px;
}

.btn-product{
  padding: 20px 20px;
}

.details{
  padding: 50px 50px;
}

.sort{
  width: 200px;
}

.posting-form{
  padding: 100px 100px;
}

.cover-image{
  padding: 100px 100px;
}

.frame{
  width: 100%;
  height:1000px;
  border: 2px solid black;
  pointer-events: none;
}

.run-button{
  width: 100%;
}

.view-division{
  padding: 20px 20px;
}

.table{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px 20px; 
}